@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
	background-color: #faf8ef !important;
}

h1 {
	font-family: "Lato", sans-serif !important;
}

button#modalBtn {
	display: none;
}

.playtile {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	background-color: #776e65;
	margin: auto;
	width: 70vw;
	height: 70vw;
	padding: 1rem;
	border-radius: 6px;
	box-sizing: border-box;
}

.tile {
	background-color: #ede0c8;
	border-radius: 3px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lato", sans-serif;
	font-size: 1.8rem;
}

footer {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.tip {
	font-style: italic;
	text-align: center;
	font-weight: 700;
	color: #776e65;
	opacity: 55%;
	max-width: 40ch;
}

/* Desktops and landscape tablets */
@media screen and (min-width: 768px) {
	.playtile {
		width: 40rem;
		height: 40rem;
	}

	.tile {
		font-size: 55px;
		margin: 10px;
	}
}
